*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background-color: rgb(214,224,238);
    font-family: 'outfit', sans-serif;

}

h1{
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 20px;
    text-indent: 10px;
    text-align: center;
    color: hsl(218, 44%, 22%)
}
h3{
    font-size: 1em;
    font-weight: 400;
    text-indent: 10px;
    text-align: center;
    color: hsl(213, 11%, 65%);
}
.container{
    
    width: 330px;
    margin: 50px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}


   
   


.container a{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 15px;
    
    background: url(./images/image-qr-code.png) no-repeat;
    background-size: contain;
    border-radius: 10px;


}

.container a:hover{
    opacity: 0.8;
}


.textos{
    padding: 30px;
}









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }